<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="true">
    <property name="patternColor"
              value="%yellow(控制台-) %red(%d{yyyy-MM-dd HH:mm:ss.SSS}) %highlight([%-5level]) %green([%thread]) %boldMagenta(%logger{20}) - %black(%msg%n)"/>
    <property name="patternNoColor"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] [%thread] %logger{20} - %msg%n%n"/>
    <!-- 控制台输出 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度 %msg：日志消息，%n是换行符-->
            <pattern>${patternColor}</pattern>
        </encoder>
    </appender>

    <!-- 按照每天生成日志文件 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${patternNoColor}</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <file>log/default.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日志文件输出的文件名-->
            <FileNamePattern>log/%d{yyyy-MM-dd}/msp-%d{yyyy-MM-dd}-%i.log.zip</FileNamePattern>
            <!--日志文件保留天数-->
            <MaxHistory>90</MaxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <!-- 自定义Appender -->
    <!--    <appender name="DBAPPENDER" class="com.vortex.msp.Log.DBAppender" />-->
    <!--    <appender name="DB_APPENDER" class="com.vortex.msp.Log.DBAppender">-->
    <!--        &lt;!&ndash; 使用springBean标签引用Spring管理的Bean &ndash;&gt;-->
    <!--        <springBean id="dbAppender" class="com.vortex.msp.Log.DBAppender"/>-->
    <!--    </appender>-->
    <logger name="com.zyj.msp.Mapper" level="DEBUG"/>
    <logger name="com.zaxxer.hikari.HikariDataSource" level="OFF"/>

    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
        <!--        <appender-ref ref="DBAPPENDER"/>-->
    </root>

</configuration>

