<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vortex.msp.Mapper.DoctorMapper">

    <resultMap id="doctorMap" type="com.vortex.msp.Entity.Doctor">
        <id column="doctor_id" property="doctorId" jdbcType="INTEGER" javaType="Integer"/>
        <result column="doctor_name" property="doctorName" jdbcType="VARCHAR" javaType="String"/>
        <result column="doctor_sex" property="doctorSex" jdbcType="INTEGER" javaType="Integer"/>
        <result column="doctor_age" property="doctorAge" jdbcType="INTEGER" javaType="Integer"/>
        <result column="doctor_deptmentId" property="doctorDeptmentId" jdbcType="INTEGER" javaType="Integer"/>
        <result column="doctor_title" property="doctorTitle" jdbcType="VARCHAR" javaType="String"/>
        <result column="doctor_phone" property="doctorPhone" jdbcType="VARCHAR" javaType="String"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="create_user" property="createUser" jdbcType="VARCHAR" javaType="String"/>
        <result column="update_user" property="updateUser" jdbcType="VARCHAR" javaType="String"/>
    </resultMap>

    <select id="listDoctors" resultMap="doctorMap">
        SELECT *
        FROM t_doctor
    </select>

    <select id="getDoctor" resultMap="doctorMap">
        SELECT *
        FROM t_doctor
        WHERE doctor_id = #{doctorId}
    </select>

    <select id="getDoctors" resultMap="doctorMap">
        SELECT *
        FROM t_doctor
        WHERE doctor_id IN
        <foreach item="doctorIds" collection="list" open="(" separator="," close=")">
            #{doctorIds}
        </foreach>
    </select>


    <select id="getDoctorByName" resultMap="doctorMap">
        SELECT *
        FROM t_doctor
        WHERE t_doctor.doctor_name LIKE CONCAT('%', #{doctorName}, '%');
    </select>


</mapper>
