<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vortex.msp.Mapper.ReserveMapper">

    <resultMap id="reserveMap" type="com.vortex.msp.Entity.Reserve">
        <id column="reserve_id" property="reserveId"/>
        <result column="reserve_phone" property="reservePhone"/>
        <result column="reserve_username" property="reserveUsername"/>
        <result column="reserve_date" property="reserveDate"/>
        <result column="reserve_status" property="reserveStatus"/>
        <result column="reserve_doctor" property="reserveDoctor"/>
        <result column="reserve_room" property="reserveRoom"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>
    <!--查询所有预约信息-->
    <select id="listAllReserves" resultMap="reserveMap">
        SELECT *
        FROM t_reserve;
    </select>

    <!--根据用户名查询预约信息-->
    <select id="listReservesByUsername" resultMap="reserveMap">
        SELECT *
        FROM t_reserve
        WHERE reserve_username = #{username};
    </select>

    <!--根据手机号查询预约信息-->
    <select id="listReservesByPhone" resultMap="reserveMap">
        SELECT *
        FROM t_reserve
        WHERE reserve_phone = #{phone};
    </select>

    <!--根据预约id查询预约信息-->
    <select id="getReserve" resultMap="reserveMap">
        SELECT *
        FROM t_reserve
        WHERE reserve_id = #{reserve_id};
    </select>

    <select id="limitReserves" resultMap="reserveMap">
        SELECT *
        FROM t_reserve
        LIMIT #{offset},#{pageSize};
    </select>

    <!--添加预约信息-->
    <insert id="saveReserve" parameterType="com.vortex.msp.Entity.Reserve">
        INSERT INTO t_reserve(reserve_username, reserve_date, reserve_phone, reserve_room, reserve_doctor,
                              reserve_status, create_user, create_time, update_user, update_time)
        VALUES (#{reserveUsername}, #{reserveDate}, #{reservePhone}, #{reserveRoom}, #{reserveDoctor}, #{reserveStatus},
                #{createUser}, #{createTime}, #{updateUser}, #{updateTime});
    </insert>

    <!--修改预约信息-->
    <update id="update" parameterType="com.vortex.msp.Entity.Reserve">
        UPDATE t_reserve
        SET reserve_username = #{reserveUsername},
            reserve_date     = #{reserveDate},
            reserve_phone    = #{reservePhone},
            reserve_room     = #{reserveRoom},
            reserve_doctor   = #{reserveDoctor},
            reserve_status   = #{reserveStatus},
            create_user      = #{createUser},
            create_time      = #{createTime},
            update_user      = #{updateUser},
            update_time      = #{updateTime}
        WHERE reserve_id = #{reserveId}
    </update>

    <!--删除预约信息-->
    <delete id="deleteReserve" parameterType="int">
        DELETE
        FROM t_reserve
        WHERE reserve_id = #{reserve_id}
    </delete>

</mapper>
