<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zyj.msp.Mapper.RoomMapper">

    <resultMap id="roomMap" type="com.zyj.msp.Entity.Room">
        <id property="roomId" column="room_id"/>
        <result property="roomZhName" column="room_zh_name"/>
        <result property="roomEnName" column="room_en_name"/>
        <result property="roomMaster" column="room_master"/>
        <result property="roomInfo" column="root_info"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <select id="getRoom" resultMap="roomMap">
        SELECT *
        FROM t_room
        WHERE room_id = #{roomId}
    </select>

    <select id="getRoomByName" resultMap="roomMap">
        SELECT *
        FROM t_room
        WHERE room_zh_name = #{roomZhName}
           OR room_en_name = #{roomEnName}
    </select>

    <select id="getRoomCount" resultType="Integer">
        SELECT COUNT(*)
        FROM t_room
    </select>

    <select id="listRooms" resultMap="roomMap">
        SELECT *
        FROM t_room
    </select>

    <insert id="saveRoom" parameterType="com.zyj.msp.Entity.Room">
        INSERT INTO t_room
        (room_zh_name, room_en_name, room_master, root_info, create_user, update_user)
        VALUES (#{roomZhName}, #{roomEnName}, #{roomMaster}, #{roomInfo}, #{createUser}, #{updateUser})
    </insert>

    <update id="updateRoom">
        UPDATE t_room
        SET room_zh_name=#{roomZhName},
            room_en_name=#{roomEnName},
            room_master=#{roomMaster},
            root_info=#{roomInfo},
            update_user=#{updateUser},
            update_time=#{updateTime}
        WHERE room_id = #{roomId}
    </update>

    <delete id="deleteRoom">
        DELETE
        FROM t_room
        WHERE room_id = #{roomId};
    </delete>

    <select id="limitRooms" resultMap="roomMap">
        SELECT *
        FROM t_room
        LIMIT #{offset},#{pageSize};
    </select>


</mapper>